body {
  /* All backgrounds to go edge-to-edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.sidebar {
  float: right;
  overflow: auto;
  min-width: 14rem;
  width: calc(100% / 3);
  max-width: 14rem;

  height: 100vh;
  padding: 1rem;

  background: #2e5978;
  text-align: right;
  color: #fefefe;
}

.sidebar__title {
  background: red;
}

.sidebar__subtitle {
  background: green;
}

.stacked {
  background: orange;
}

.link-box {
  background: rebeccapurple;
}

.blog {
  width: calc(2 * 100% / 3);
}
